* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* some var */

:root {
    --aside-big-wd: 140px; /*aside big width*/
    --aside-small-wd: 50px; /*aside small width*/
}


/* end var declarations */

/* section define */



aside {
    height: calc(100vh - 70px);
    width: var(--aside-big-wd);
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;

}

header {
    height: 70px;
    width: calc(100vw - var(--aside-big-wd));
    background-color: red;
    position: fixed;
    top: 0;
    left: var(--aside-big-wd);
    f
}



section.player {
    height: 70px;
    width: 100vw;
    background-color: red;
    position: fixed;
    bottom: 0;
}

section.central {
    height: 100vh;
    margin-top: 70px;
    margin-left: var(--aside-big-wd);
    color: white;
    background-color: black;
}


/* media query */
@media screen and (max-width: 768px) {

    aside {
        width: var(--aside-small-wd);
        width: 50px;
        background-color: lightgrey;
    }

    header {
        height: 70px;
        width: calc(100vw - var(--aside-small-wd));
        background-color: darkred;

        left: var(--aside-small-wd);;
    }



    section.central {
        background-color: black;
        margin-left: var(--aside-small-wd);
    }

}
