* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* variabili globali var */
:root {
    /* larghezza aside big screen */
    --aside-big-wd: 180px;
    /* larghezza aside small screen */
    --aside-small-wd: 50px;
    /* altezza headerr */
    --header-height: 70px;
    /* numero dischi riga large screen */
    --lg-row-item-number: 6;
    /* numero dischi riga medium screen */
    --md-row-item-number: 4;
    /* numero dischi riga small screen */
    --sm-row-item-number: 2;
    /* colore grigio font base */
    --font-color-grey: #999999;
    /* background body */
    --body-bg: #141922;
    --link-hover: white;
    --bar-background: white;
    --header-background: #080b12;
    --aside-background: #000000;
    --brand-color: white;
    --link-active: white;
    --playlist-menu: white;
    --playlist-menu-btn-hover: white;
    --player-background: #282828;
    --player-song-title: #999999;
    --player-control: #999999;
    --player-control-right: #999999;
    --category-color: white;
    --category-selector-active:white;
    --category-selector-active-border: green;
    --category-background-xs: #0f1219;
    --overlay-disc: rgba(0, 0, 0, 0.4);
    /* --overlay-disc-border: #62898a; */
}

/* var globali per la light mode */
[data-theme="dark"] {
    --font-color-grey: #333;
    --body-bg: #f5f7fa;
    --link-hover: #e7745b;
    --bar-background: white;
    --header-background: #2f7589;
    --aside-background: #fff3d5;
    --brand-color: #e7745b;
    --link-active: #e7745b;
    --playlist-menu: #e7745b;
    --playlist-menu-btn-hover: #e7745b;
    --player-background: #458091;
    --player-song-title: white;
    --player-control: white;
    --player-control-right: white;
    --category-color: #333;
    --category-selector-active: #e7745b;
    --category-selector-active-border: #458091;
    --category-background-xs: #ffe9d6;
    --overlay-disc: rgba(255, 255, 255, 0.4);
    /* --overlay-disc-border: #052526; */

}

/* stili generali */
body {
    background-color: var(--body-bg);
}

a {
    color: var(--font-color-grey);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
}

ul {
    list-style: none;
}

.player-bar {
    height: 2px;
    background-color: var(--bar-background);
    border-radius: 1px;
}

/* ********************* */
/* DEFINIZIONE VARIE SEZIONI */
/* ********************* */
/************************/
/* HEADER section */
header {
    height: var(--header-height);

    width: calc(100vw - var(--aside-big-wd));
    padding: 10px 25px 10px 10px;
    background-color: var(--header-background);
    position: fixed;
    top: 0;
    left: var(--aside-big-wd);
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header button {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

header button.toggle:active {
    background-color: white;
    color: #080b12;
}
/* click effect on burger */
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
  transform: rotate(-45deg) translate(-8px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-9px, -8px);
  transform: rotate(45deg) translate(-9px, -8px);
}
/* end click effect on burger */

/* button per il dropdown nascoscto su schermi grandi */
.dropbtn {
    display: none;
    padding: 5px 10px;
    /* transform: scale(.7); */
    border-width: 0;
}
/* toggle-icon nascosta on big screen */
.toggle-icon {
    display: none;
}


/* ASIDE section */
aside {
    height: calc(100vh - 70px);
    width: var(--aside-big-wd);
    background-color: var(--aside-background);
    font-size: 12px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}

/* visible big aside */
.aside-big {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    color: var(--font-color-grey);
}

/* hidden small aside */
.aside-small {
    display: none;
}

/*******************  */
/* ********************* */
/* aside .brand flex-items*/
aside .brand {
    height: var(--header-height);
    display: flex;
    align-items: center;
    margin-left: -10px;
    font-size: 20px;
    color: var(--brand-color);
}

aside .brand:hover i,
aside .brand:hover h3{
    color: #1bd35e;
    cursor: pointer;
}

/* icona spotify */
aside .brand i {
    font-size: 40px;
    padding-right: 10px;
}

/* aside .menu flex-items*/
aside .menu {
    margin: 10px 0 20px 0;
}

/* list item menu laterale */
aside .menu li {
    padding: 5px 0;
}

/* icone menu laterale */
aside i {
    padding-right: 10px;
    font-size: 16px;
}

/* link attivo sezione laterale */
.menu a.active {
    color: var(--link-active);
    /* font-size: 12px; */
}

/* aside .playlist flex-items*/
.playlist {
    flex: 1 0 auto;
}

/* titolo sotteseione playlist */
.playlist h3 {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 18px;
    color: var(--playlist-menu);
}

/* botton add playlist */
.playlist .playlist-btn {
    width: 100%;
    height: 25px;
    font-size: 14px;
    text-transform: capitalize;
    color: var(--font-color-grey);
    background: none;
    border: none;
    cursor: pointer;
}

/* hover button add playlist */
.playlist .playlist-btn:hover {
    color: var(--playlist-menu-btn-hover);
}

/* icona nel button */
.playlist .playlist-btn i {
    font-size: 25px;
    float: left;
}

/* testo del button */
.playlist .playlist-btn span {
    float: left;
    padding: 4px 0 10px 0;
}

/* list item della sezione playlist */
.playlist ul li {
    padding: 5px 0;
    /* font-size: 12px; */
    text-transform: capitalize;
}

/* aside .account flex-items*/
/* sezione bassa dell'aside (account) */
/* account top, install*/
.account .install i {
    padding: 0 14px 0 8px;
}

hr {
    margin: 10px 0;
}

/* account bottom, profile*/
/* profile testo */
.account .profile {
    font-size: 16px;
}

/* profile icona */
.account .profile i {
    padding-right: 10px;
    font-size: 30px;
}



/************************/
/* CENTRAL section */
section.central {
    margin: 70px 0;
    margin-left: var(--aside-big-wd);
    font-weight: 700;
    color: var(--category-color);

    /* background-color: #141922; */
}

/* central .selector */
/* menu in alto alla sezione central */


.selector {
    max-width: 80%;
    margin: 0px auto 20px;
    padding: 20px 10px;
    /* background-color: blue; */
}

.selector ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.selector a {
    display: block;
    text-decoration: none;
    padding: 5px;
    text-transform: uppercase;
    font-size: 12px;
    transition: 0.2s ease;
}

.selector a.active {
    color: var(--category-selector-active);
    border-bottom: 2px solid var(--category-selector-active-border);
}

/* central .music*/
/* contenitore di tutte le categorie di dischi */
.music {
    padding: 10px;

}

/* central .music .category */
/* contenitore di ogni categorie di dischi */
/* titolo categoria */
.music .category-title {
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
    font-size: 35px;
    text-transform: capitalize;
}

/* row di ogni categoria (wrap) */
.music .category {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 30px auto 50px;
    /* color: white; */
}

/* singolo disco in ogni categoria */
.category .disc {
    flex-basis: calc(100% / var(--lg-row-item-number) - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* overlay disco */
.category .disc-img {
    position: relative;
    transition: 0.7s ease;
}

/* .category .disc-img:hover~.disc-title */
.category .disc-img:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.category .disc-img .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: var(--overlay-disc);
    /* border: 1px solid var(--overlay-disc-border); */
    transition: 0.5s ease;
}

.category .disc-img .overlay .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

/* responsive image come Bootstrap larghezza del genitore */
.category .disc .responsive-img {
    width: 100%;
    height: 100%;
}

/* border radius disc image and overlay image */
.category .disc:nth-child(2n+1) .responsive-img,
.category .disc:nth-child(2n+1) .overlay {
    border-radius: 50%;
}

.category .disc .disc-title {
    opacity: 0.5;
    margin-top: 10px;
    text-align: center;
    font-weight: 700;
}

.category .disc .disc-title h4 {

    font-size: 12px;
}

.category .disc .disc-title h5 {
    font-weight: 400;
    font-size: 10px;
}

/************************/
/* PLAYER section */
section.player {
    height: var(--header-height);
    width: 100%;
    background-color: var(--player-background);
    position: fixed;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
}

.player div[class$="-play"] {
    padding: 10px 5px;
}

/* left-play sottosezione */
.player .left-play {
    flex: 0 1 25%;
    height: 100%;
    /* background-color: rgb(132, 184, 131); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.player .left-play div {
    margin: 0 5px;
}

.player .left-play .selected-left img {
    height: 40px;
}

.player .left-play .selected-middle {
    color: var(--player-song-title);
}

.player .left-play .selected-middle:hover {
    color: var(--link-hover);
}

.player .left-play .selected-middle h5 {
    font-size: 10px;
}

.player .left-play .selected-middle p {
    font-size: 8px;
}

.player .left-play .selected-right {
    margin: 0;

}

.player .left-play .selected-right a {
    margin: 0 5px;
    color: var(--player-control);
}

.player .left-play .selected-right a:hover {
    color: var(--link-hover);
}

/* middle-play sottosezione */
.player .middle-play {
    flex: 0 1 35%;
    height: 100%;
    /* background-color: rgb(184, 118, 208); */
    color: var(--player-control);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.player .middle-play .player-control-btn {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.player .middle-play .player-time {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player .middle-play .player-time .player-bar {
    width: 80%;
}

.player .middle-play .player-time span {
    font-size: 10px;
}

/* right-play sottosezione */
.player .right-play {
    flex: 0 1 35%;
    height: 100%;
    /* background-color: rgb(198, 74, 99); */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--player-control-right);
}

.player .right-play span {
    margin: 0 5px;
}

.player .right-play .player-bar {
    width: 60%;
}

/* player section*/
/* media query */
/* medium */
@media screen and (max-width: 992px) {
    .category .disc {
        flex: 0 0 calc(100% / var(--md-row-item-number) - 20px);
        margin: 10px;
    }

    .player .middle-play .player-time .player-bar {
        width: 60%;
    }
}

/* small */
@media screen and (max-width: 768px) {
    .category .disc {
        flex: 0 0 calc(100% / var(--sm-row-item-number) - 20px);
        margin: 10px;
    }
}

/* extra small */
@media screen and (max-width: 576px) {

    /* change header flex alignment */
    header {
        justify-content: space-between;
    }

    /* button per il dropdown visible su schermi xs */
    .dropbtn {
        display: block;
    }
    /* icona toggle visible su schermi piccoli */
    .toggle-icon {
        font-size: 30px;
        display: inline-block;
    }

    .toggle-txt {
        display: none;
    }

    button.toggle {
        border: 0;
    }

    header button.toggle:active {
        background-color: transparent;

    }


    /* aside on extra small screen */
    aside {
        width: var(--aside-small-wd);
        display: block;
        padding: 0;
        /* padding-left: 0;
        padding-right: 0; */
    }

    .fab.fa-spotify.brand-icon {
        margin-left: 20px;
    }

    .aside-small i {
        margin: 15px 0;
        padding: 0;
        font-size: 25px;
    }

    .aside-small li {
        text-align: center;
    }

    .aside-big {
        display: none;
    }

    .aside-small {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*end aside xs */


    .central .selector {
        max-width: 100%;
        background-color: var(--category-background-xs);
    }

    .dropdown-content {
        display: none;
    }

    .show {
        display:block;
    }

    .central .selector ul {
        flex-direction: column;
        align-items: center;
    }

    .central .selector a {
        font-size: 18px;
        margin-top: 12px;
    }

    .central .selector ul li:first-child a {
        margin-top: 0px;
    }

    .central .music {
        padding: 20px 0 0 0;

    }

    .central .music .category-title {
        text-align: center;
    }

    header {
        height: 70px;
        width: calc(100vw - var(--aside-small-wd));
        /* background-color: darkred; */
        left: var(--aside-small-wd);
        ;
    }

    section.central {
        margin-left: var(--aside-small-wd);
    }

    /* .music {
        padding: 5px;
    } */
}
